:host .full-width {
    display: flex;
    justify-content: center;
    min-width: 160px;
    max-width: 600px;
    box-sizing: border-box;
    margin-bottom: 50px;

    mat-form-field {
        width: 100%;
    }
}

.button-submit {
    display: flex;
    justify-content: center;

}